body{
  background:url(https://cdn-images-1.medium.com/max/1920/1*YzY1FMA0rW1WRMI4hWm-gw.jpeg);
  background-size:cover;
  background-position:top;
  background-repeat:no-repeat;
  width:1349px;
  margin: 0 auto;
}

header{
  position:fixed;
  top:0;
  width:100%;
  color:white;
  z-index:99999999;
}

header div{
  position:relative;
  margin-left:20px;
}

header div img{
  position:absolute;
  float:left;
  width:150px;
  left:10px;
}

header h1{
  position:absolute;
  top:30px;
  font:30px 'Seaweed Script', serif;
}

header nav{
  width:1349px;
  height:70px;
  background-color:#307F56;
  text-align:center;
}

header nav ul{
  width:960px;
  margin:0 auto;
}

header nav li{
  display:inline-block;
  background:#18402B;
  border-radius:3px;
  font:35px 'Seaweed Script', serif;
  color:white;
  margin:10px 10px;
  padding:0px 50px;
}

header nav li a{
  text-decoration:none;
  color:white;
}

header nav li a:hover{
  color:#5FFFAD;
}

.clear{
  clear:both;
}

main{
  margin-top:30px;
  margin:40px auto;
}

.buissness-info{
  display:inline-block;
  float:left;
  background:rgba(48, 127, 86,.7);
  border-radius:3px;
  width:600px;
  height:560px;
  margin:50px 20px 20px 40px;
  padding:10px;
}

.buissness-info h3{
  font:30px 'Seaweed Script', serif;
  color:white;
}

.buissness-info p{
  background:rgba(0,0,0,0.3);
  border-radius:3px;
  text-align:center;
  font:25px 'Open Sans', sans-serif;
  font-weight:bold;
  color:white;
  line-height:30px;
  margin:20px 35px;
  padding:20px 5px;
}

.hours{
  display:inline-block;
  float:left;
  background:rgba(48, 127, 86,.7);
  border-radius:3px;
  width:600px;
  height:200px;
  margin:50px 30px 20px 10px;
  padding:10px;
}

.hours div{
  display:inline-block;
  position:relative;
  float:left;
  border-right:3px solid white;
  width:297px;
  height:200px;
}

.hours h4{
  font: 30px 'Seaweed Script', serif;
  color:white;
  text-align:center;
}

.hours p, .hours li{
  font:20px 'Open Sans', sans-serif;
  color:white;
  text-align:center;
  margin-top:5px;
}

.hours ul{
  display:inline-block;
  position:relative;
  float:left;
  width:300px;
  height:200px;
  list-style:none;
  margin-top:5px;
}

.hours li{
  line-height:30px;
  margin:0;
}

.community{
  display:inline-block;
  float:left;
  background:rgba(48, 127, 86,.7);
  border-radius:3px;
  width:600px;
  height:300px;
  margin:20px 30px 20px 10px;
  padding:10px;
}

.community h3{
  font: 30px 'Seaweed Script', serif;
  color:white;
  text-align:center;
}

article{
  display:inline-block;
  border:3px solid white;
  border-radius:3px;
  float:left;
  background:rgba(0, 0, 0, 0.3);
  width:294px;
  height:255px;
}

article h4{
  font:23px 'Seaweed Script', serif;
  color:white;
  text-align:center;
}

article p{
  font:15px 'Sans Open', sans-serif;
  color:white;
  margin:10px;
  text-align:center;
}

.community a{
  font:15px 'Sans Open', sans-serif;
  text-decoration:none;
  color:#26C7FF;
}

.community a:hover{
  color:#5FFFAD;
}

#art-two img{
  border-radius:3px;
  width:110px;
  height:auto;
  margin-left:95px;
}

#art-one img{
  border-radius:3px;
  width:180px;
  height:auto;
  margin-left:63px;
}

#sticker{
  background:url(https://raw.githubusercontent.com/codefellows/seattle-201d22/master/09-js_debugging_dev_tools_animations/lab/assets/chinook.jpg);
  background-position:left;
  background-size:cover;
}

#cutter{
  background:url(https://raw.githubusercontent.com/codefellows/seattle-201d22/master/09-js_debugging_dev_tools_animations/lab/assets/cutter.jpeg);
  background-position:center;
  background-size:cover;
}

#cookie{
  background:url(https://raw.githubusercontent.com/codefellows/seattle-201d22/master/09-js_debugging_dev_tools_animations/lab/assets/frosted-cookie.jpg);
  background-position:left;
  background-size:cover;
}

#shirt{
  background:url(https://raw.githubusercontent.com/codefellows/seattle-201d22/master/09-js_debugging_dev_tools_animations/lab/assets/shirt.jpg);
  background-position:center;
  background-size:cover;
}

footer h2{
  text-align:center;
  font:30px 'Seaweed Script', serif;
}

footer{
  display:inline-block;
  width:1349px;
  background:#307F56;
  color:white;
  padding-bottom:50px;
}

footer ul{
  width:960px;
  margin:20px 240px 100px 240px;
}

footer li{
  display:inline-block;
  position:relative;
  width:200px;
  height:200px;
  border-radius:100%;
  margin:10px;
  transition:350ms all;
  float:left;
}

footer span{
  display:inline-block;
  position:absolute;
  bottom:45%;
  border-radius:3px;
  font:20px 'Open Sans',sans-serif;
  text-align:center;
  background:rgba(0,0,0,0.3);
  width:100%;
}

footer li:hover{
  width:250px;
  height:250px;
  margin:-15px;
  z-index:99999;
}

#sales_body{
  font:20px 'Opan sans', sans-serif;
  color:white;
}

form{
  width:550px;
  height:350px;
  background:#307F56;
  display:inline-block;
  margin:20px 0;
  border-radius:3px;
}

fieldset{
  padding:10px;
}

input[type="text"]{
  padding:7px;
  margin-left:7px;
  border:solid 1px black;
  border-radius:3px;
}

input[type="text"]:focus{
  background:#000;
  color:#fff;
}

button{
  border:none;
  padding:8px 18px;
  margin-left:20px;
  margin-bottom:20px;
  background:#18402B;
  color:#fff;
  border-radius:3px;
  cursor:pointer;
  font-size:20px;
}

button:active{
  background:#333;
}

table{
  display:inline-block;
  margin-left:20px;
  width:1300px;
  height:100%;
  overflow:scroll;
}

td{
  background:rgba(48, 127, 86,.7);
  padding:10px;
  border:solid 1px #000;
}


thead{
  background:#18402B;
}
